<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head th:replace="~{/home::head}">
    <meta charset="UTF-8">

    <title>Add new customer</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css">
</head>
<body>
<div th:replace="~{/home::header}"></div>

<div class="mx-5 px-5 pt-3">
    <h2 class="text-center fw-bold text-dark">ADD NEW CUSTOMER</h2>

    <div class="d-flex justify-content-center">
        <form class="w-50 border border-2 border-success p-3 rounded formCSS" method="POST" novalidate="novalidate">
            <div class="form-group">
                <label for="name" class="h6">Customer Name:</label>
                <p style="color: red"></p>
                <div class="input-group">
                    <input type="text" id="name" class="form-control" placeholder="Input customer name.."/>
                    <span class="input-group-text"><i class="fa-solid fa-person-circle-question"></i></span>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="dateOfBirth" class="h6">Date Of Birth:</label>
                <p style="color: red"></p>
                <input type="date" id="dateOfBirth" class="form-control">
            </div>

            <div class="mt-3 form-group">
                <label class="h6">Gender:</label>
                <p style="color: red"></p>
                <div class="d-flex">
                    <label class="d-block me-4">
                        <input type="radio"/> Nam
                        <i class="fa-solid fa-mars"></i>
                    </label>

                    <label class="d-block me-4">
                        <input type="radio"/> Nữ
                        <i class="fa-solid fa-venus"></i>
                    </label>
                </div>
            </div>

            <div class="mt-3 form-group">
                <label for="idCard" class="h6">Id Card:</label>

                <div class="input-group">
                    <input type="text" id="idCard" class="form-select" placeholder="Input id card"/>
                    <span class="input-group-text"><i class="fa-solid fa-id-card"></i></span>
                </div>

                <p style="color: red" ></p>

            </div>

            <div class="mt-3 form-group">
                <label for="phone" class="h6">Phone Number:</label>

                <div class="input-group">
                    <input type="text" id="phone" class="form-select" placeholder="Input phone number.."/>
                    <span class="input-group-text"><i class="fa-solid fa-square-phone"></i></span>
                </div>

                <p style="color: red"></p>

            </div>

            <div class="mt-3 form-group">
                <label for="email" class="h6">Email:</label>

                <div class="input-group">
                    <input type="text" id="email" class="form-control" placeholder="Input email.."/>
                    <span class="input-group-text"><i class="fa-solid fa-envelope-circle-check"></i></span>
                </div>

                <p style="color: red"></p>

            </div>

            <div class="mt-3 form-group">
                <label for="address" class="h6">Address:</label>

                <div class="input-group">
                    <input type="text" id="address" class="form-control" placeholder="Input address.."/>
                    <span class="input-group-text"><i class="fa-solid fa-map-location-dot"></i></span>
                </div>

                <p style="color: red"></p>

            </div>

            <div class="mt-3 form-group">
                <label class="h6" for="customerType">Customer Type:</label>
                <div class="input-group">
                    <select id="customerType" class="form-select">
                        <option>Diamond</option>
                        <option>platinum</option>
                        <option>Gold</option>
                        <option>Silver</option>
                        <option>Member</option>
                    </select>
                    <span class="input-group-text"><i class="fa-solid fa-ranking-star"></i></span>
                </div>
            </div>

            <div class="mt-3 text-center">
                <button class="btn btn-info btn-outline-success btn-sm border border-2 border-success text-dark">
                    -- Save <i class="fa-solid fa-floppy-disk"></i> --
                </button>
            </div>
        </form>
    </div>

</div>
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa"
        crossorigin="anonymous"></script>
</html>